body {
  background-color: #f0f2f5;
  font-family: "Work Sans", sans-serif;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 50px;
}

.about-content {
  width: 100%;
}

.about-title {
  color: #264653;
  font-size: 2.5rem;
  margin-bottom: 20px;
  position: relative;
}

.about-text {
  color: #264653;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.close-button {
  position: absolute;
  top: 0; /* Adjusted to be closer to the title */
  left: -30px; /* Adjusted to be closer to the title */
  background-color: transparent;
  border: none;
  color: #264653;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
}

.close-button:hover {
  color: #2a9d8f;
}
