body {
  background-color: #f0f2f5;
  font-family: "Work Sans", sans-serif;
}

.image-container {
  position: relative;
  width: 100%;
}

.full-width-image {
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.main-content {
  background-color: #f0f2f5;
  padding-top: 20px;
}

.welcome-text,
.brand-name,
.mission-text {
  color: #264653;
}

.brand-name {
  font-size: 3rem;
  font-weight: 700;
}

.mission-text {
  font-size: 1.2rem;
  color: #2a9d8f;
}

.cta-button {
  background-color: #264653;
  border-color: #264653;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  width: 100%;
  margin-top: 10px;
}

.cta-button:hover {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}
