body {
  background-color: #f0f2f5;
  font-family: "Work Sans", sans-serif;
}

h1,
h3 {
  color: #264653;
}

.lead {
  color: #2a9d8f;
}

button.custom-button {
  width: 80%;
  margin: 0 auto;
  display: block;
  background-color: #2a9d8f;
  border-color: #2a9d8f;
  color: white;
  font-family: "Work Sans", sans-serif;
}

button.custom-button:hover {
  background-color: #e9c46a;
  border-color: #e9c46a;
  color: #264653;
}

button.custom-button-outline {
  background-color: transparent;
  border-color: #2a9d8f;
  color: #2a9d8f;
  font-family: "Work Sans", sans-serif;
}

button.custom-button-outline:hover {
  background-color: #e9c46a;
  border-color: #e9c46a;
  color: #264653;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
